<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Imprint Scrape</title>
		 {% load static %}
		<link rel="stylesheet" href="{% static 'sass/styles.css' %}" />
		
	</head>
	<body>
		<header>
			<div class="header-area">
				<p>Imprint - Generator</p>
			</div>
		</header>
		<div>
			{% if error%}
			<div class="error">
				<h3>
					{{error}}
				</h3>
			</div>
			{% endif %}
			<form method="POST" action="">
				{% csrf_token %}
				<div class="form">
					<input
						class="input-form"
						id="form"
						name="url"
						placeholder="imprint url "
					/>
					<button class="btn">Generate</button>
				</div>
			</form>

			<div class="display-box">
				<div class="tag-container">
					<div>
						<p class="tag">{{pro}}</p>
					</div>
					<div>
						<p class="tag">{{email}}</p>
					</div>
					<div>
						<p class="tag">{{phone}}</p>
					</div>
					<div>
						<p class="tag">{{com}}</p>
					</div>
					<div>
						<p class="tag">{{chairman}}</p>
					</div>
					<div>
						<p class="tag">{{exec}}</p>
					</div>
					<div>
						<p class="tag">{{vat}}</p>
					</div>
				</div>
			</div>
			<div class="download-area">
				<div>
					<img src="{% static 'excel.svg'%}" alt="excel"/>
				</div>
				<div>
					<button class="d-btn">Downlooad</button>
				</div>

			</div>
		</div>
		<footer>
			<div class="footer-area">
				<p class="copyright">
					&copy; <p class="date"></p> SuperLax Technologies
				</p>
			</div>
		</footer>

		<script>
			var n = new Date();
			let el = document.getElementsByClassName("date");
			console.log(el);
			el.textContent = n.getFullYear();
		</script>
	</body>
</html>
